// general styles for the project that wouldn't be a reuseable component

.bg {
  &--grey-dark      { background-color: $grey-dark; }
  &--grey-lightest  { background-color: $grey-lightest; }
  &--beige          { background-color: $s-beige; }
  &--swiss-promo {
    background-image: url('../img/content/swiss-promo.jpg');
    background-color: #3d5e7b;
    @include background-attributes;
  }
  &--ski-promo {
    background-image: url('../img/content/ski-promo.jpg');
    background-color: #304453;
    @include background-attributes;
  }
  &--swiss-promo,
  &--ski-promo {
    position: relative;
    .row { z-index: $z-content-upper; }
    &:after {
      content: "";
      position: absolute;
      z-index: $z-content;
      top: 0; left: 0; bottom: 0; right: 0;
      background-color: rgba($grey-darkest,0.4);
      @include bp(lg){ content: none; }
    }
  }
}

.border {
  border-bottom: solid 3px $s-red;
  &--sm { border-bottom: solid 1px $s-red; }
 }

.content-bg {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}