// standard classes for easy development


// enable 100% height
body, html { height: 100%; }

// global box-sizing & font smoothing
*,
*:after,
*:before {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

* {
  // stop touch highlight color on mobile
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

// responsive images
img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

// sharpens resized pngs - stops fuzzy logos mainly
img[src$=".png"] {
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

// controls size image once swapped with svg
.js-svg-swap { max-width: 100%; width: 100%; }

// general transisition
$transition-time: .25s;
@mixin transition() { transition: all $transition-time ease; }

// general shadow
@mixin shadow() { box-shadow: 0px 8px 44px 0px rgba($black, .2); }
.shadow { @include shadow; }

// standard bg position, repeat, etc
@mixin background-attributes {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}

// remove deafult link style & keep cursor if no href
a { color: inherit; text-decoration:none; cursor: pointer; }

// generic center element
.center { margin-left: auto; margin-right: auto; }