// the title banner that appears at the top of every page. sometimes animated bgs

.banner {
  position: relative;
  display: table;
  width: 100%;
  height: 80%;
  text-align: center;
  color: white;
  &__content {
    display: table-cell;
    vertical-align: middle;
    padding-top:    $core-nav-height-sm;
    padding-bottom: $site-nav-height-sm;
    @include bp(md){
      padding-top:    $core-nav-height;
      padding-bottom: $site-nav-height;
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-background;
    background-color: $grey-dark;
    @include background-attributes;
  }
  &__nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-overlay;
    // background-color: rgba($grey-dark,0.75);
    @include transition;
  }
}