<section class="vpad--xxxl bg--swiss-promo text--white">
  <div class="row row--padding">
    <div class="row--md">
      <h2 class="title title--xl">Flying with SWISS</h2>
      <p>SWISS is set to perfect your winter wanderlust with warm Swiss hospitality. Make your journey as comfortable as possible, with free ski equipment transport<sup>*</sup> ready to take the load off. Fly to your Swiss adventure from as little as £74 one-way<sup>*</sup>, and realise your perfect winter wonderland today.</p>
      <a href="{{site.client.link}}" class="btn btn--red" id="tracking-swissbanner-btn">Book now</a>
    </div>
  </div>
</section>