

// ---------- button ----------

.btn {
  position: relative;
  display: inline-block;
  padding: $s2 $s6;
  color: $text-white;
  font-weight: 600;
  font-size: $s-1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .25em;
  line-height: 1.33;
  border-radius: 3px;
  cursor: pointer;
  @include transition;
  * + & { margin-top: 2em; }
  &--sm {
    padding: $s1 $s4;
    font-size: $s-2;
  }
  &--orange { background-color: $orange;
    &:hover { background-color: $orange-dark; }
  }
  &--orange-outline {
    color: inherit;
    &:before {
      // creates a border within the button dimentions. useful if an outline
      // button is inline with a solid colour button
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid $orange;
      border-radius: inherit;
    }
    &:hover {
      color: $text-white;
      background-color: $orange;
    }
  }
  &--red { background-color: $s-red;
    &:hover { background-color: $s-red-dark; }
  }
  &--red-outline {
    color: inherit;
    &:before {
      // creates a border within the button dimentions. useful if an outline
      // button is inline with a solid colour button
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid $s-red;
      border-radius: inherit;
    }
    &:hover {
      color: $text-white;
      background-color: $s-red;
      &:before { border-color: $s-red; }
    }
  }
  // &--white-outline {
  //   color: inherit;
  //   &:before {
  //     // creates a border within the button dimentions. useful if an outline
  //     // button is inline with a solid colour button
  //     content: '';
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     right: 0;
  //     bottom: 0;
  //     border: 1px solid $white;
  //     border-radius: inherit;
  //     @include transition;
  //   }
  //   &:hover {
  //     color: $text-white;
  //     background-color: $s-red;
  //     &:before { border-color: $s-red; }
  //   }
  // }
}