{% assign group-id = modal.id %}
{% for modal in modal.contents %}
  <div class="modal modal--series is-closed" data-modal-id="{{modal.id}}" data-modal-group="{{group-id}}">
    <div class="js-close-modal modal__close"></div>
    <div class="js-modal-nav modal__nav modal__nav--next" data-nav-direction="next"></div>
    <div class="js-modal-nav modal__nav modal__nav--previous" data-nav-direction="previous"></div>
    <div class="bg-img bg-img--3-2" style="background-image: url('{{site.baseurl}}/img/modal/{{modal.image}}');"></div>
    <div class="boxpad--sm bg--grey-dark text--white">
      <span class="text--bolder text--lg">{{modal.title}}</span> &nbsp;by {{modal.author}}
    </div>
  </div>
{% endfor %}